In [24]:
import pandas as pd

In [25]:
#### NOTE: the dataset is too big to be uploaded on github
# it can be found here: http://whgi.wmflabs.org/snapshot_data/2019-11-04/property_indexes/ (from http://whgi.wmflabs.org/)

df = pd.read_csv("../data/gender-index-data-2019-11-04.csv") 
df.head()

,qid,dob,dod,gender,ethnic_group,citizenship,place_of_birth,field_of_work,occupation,site_links
0,Q23,1732,1799,Q6581097|,NaN,Q161885|Q30|,Q494413|,NaN,Q82955|Q189290|Q131512|Q1734662|Q294126|Q81096...,dewiki|hrwiki|uzwiki|ruwiki|plwiki|brwiki|afwi...
1,Q42,1952,2001,Q6581097|,Q42406|,Q145|,Q350|,NaN,Q214917|Q28389|Q6625963|Q4853732|Q18844224|Q24...,svwikiquote|frwikiquote|azwikiquote|enwikiquot...
2,Q1868,1868,1944,Q6581097|,NaN,Q31|,Q9005|,Q134995|Q21198|Q5962346|,Q36180|Q40348|Q182436|Q1265807|Q205375|Q10429346|,frwikisource|commonswiki|enwikisource|enwiki|d...
3,Q207,1946,-2147483648,Q6581097|,NaN,Q30|,Q49145|,NaN,Q82955|Q15982858|Q18814623|Q1028181|Q14089670|...,commonswiki|kowikisource|zhwikisource|enwikiso...
4,Q297,1599,1660,Q6581097|,NaN,Q39|Q600093|,Q8717|,NaN,Q1028181|,enwiki|itwiki|abwiki|afwiki|alswiki|anwiki|arw...

In [26]:
# take only those that have a wikipedia page in english

df_en = df[df.site_links.str.contains("enwiki", na=False)]
df_en.head()

,qid,dob,dod,gender,ethnic_group,citizenship,place_of_birth,field_of_work,occupation,site_links
0,Q23,1732,1799,Q6581097|,NaN,Q161885|Q30|,Q494413|,NaN,Q82955|Q189290|Q131512|Q1734662|Q294126|Q81096...,dewiki|hrwiki|uzwiki|ruwiki|plwiki|brwiki|afwi...
1,Q42,1952,2001,Q6581097|,Q42406|,Q145|,Q350|,NaN,Q214917|Q28389|Q6625963|Q4853732|Q18844224|Q24...,svwikiquote|frwikiquote|azwikiquote|enwikiquot...
2,Q1868,1868,1944,Q6581097|,NaN,Q31|,Q9005|,Q134995|Q21198|Q5962346|,Q36180|Q40348|Q182436|Q1265807|Q205375|Q10429346|,frwikisource|commonswiki|enwikisource|enwiki|d...
3,Q207,1946,-2147483648,Q6581097|,NaN,Q30|,Q49145|,NaN,Q82955|Q15982858|Q18814623|Q1028181|Q14089670|...,commonswiki|kowikisource|zhwikisource|enwikiso...
4,Q297,1599,1660,Q6581097|,NaN,Q39|Q600093|,Q8717|,NaN,Q1028181|,enwiki|itwiki|abwiki|afwiki|alswiki|anwiki|arw...

In [27]:
# filter and take only males or females

MALE = "Q6581097|"
FEMALE = "Q6581072|"

# df_gender = df_en[(df_en.gender == MALE) | (df_en.gender == FEMALE)]
df_gender = df_en[df_en.gender.notnull()]
df_gender

,qid,dob,dod,gender,ethnic_group,citizenship,place_of_birth,field_of_work,occupation,site_links
0,Q23,1732,1799,Q6581097|,NaN,Q161885|Q30|,Q494413|,NaN,Q82955|Q189290|Q131512|Q1734662|Q294126|Q81096...,dewiki|hrwiki|uzwiki|ruwiki|plwiki|brwiki|afwi...
1,Q42,1952,2001,Q6581097|,Q42406|,Q145|,Q350|,NaN,Q214917|Q28389|Q6625963|Q4853732|Q18844224|Q24...,svwikiquote|frwikiquote|azwikiquote|enwikiquot...
2,Q1868,1868,1944,Q6581097|,NaN,Q31|,Q9005|,Q134995|Q21198|Q5962346|,Q36180|Q40348|Q182436|Q1265807|Q205375|Q10429346|,frwikisource|commonswiki|enwikisource|enwiki|d...
3,Q207,1946,-2147483648,Q6581097|,NaN,Q30|,Q49145|,NaN,Q82955|Q15982858|Q18814623|Q1028181|Q14089670|...,commonswiki|kowikisource|zhwikisource|enwikiso...
4,Q297,1599,1660,Q6581097|,NaN,Q39|Q600093|,Q8717|,NaN,Q1028181|,enwiki|itwiki|abwiki|afwiki|alswiki|anwiki|arw...
...,...,...,...,...,...,...,...,...,...,...
5483607,Q72761280,-2147483648,-2147483648,Q6581072|,NaN,NaN,NaN,NaN,NaN,enwiki|
5483608,Q72762990,-2147483648,-2147483648,Q6581072|,NaN,NaN,NaN,NaN,NaN,enwiki|
5483616,Q72774722,1929,2017,Q6581097|,NaN,NaN,NaN,NaN,NaN,enwiki|
5483618,Q72785415,2011,-2147483648,Q6581097|,NaN,NaN,NaN,NaN,Q970153|,enwiki|
5483639,Q72800991,1948,-2147483648,Q6581097|,NaN,NaN,NaN,NaN,Q188094|,enwiki|

In [28]:
# save the code and the gender to a new csv

df_gender[["qid", "gender", "occupation"]].to_csv("../data/qid_people_wikidata.csv")

In [29]:
df = pd.read_csv("wikidata_codes_people.csv") 
df.head()

,Unnamed: 0,qid,gender,occupation
0,0,Q23,Q6581097|,Q82955|Q189290|Q131512|Q1734662|Q294126|Q81096...
1,1,Q42,Q6581097|,Q214917|Q28389|Q6625963|Q4853732|Q18844224|Q24...
2,2,Q1868,Q6581097|,Q36180|Q40348|Q182436|Q1265807|Q205375|Q10429346|
3,3,Q207,Q6581097|,Q82955|Q15982858|Q18814623|Q1028181|Q14089670|...
4,4,Q297,Q6581097|,Q1028181|

In [30]:
df.qid.values

array(['Q23', 'Q42', 'Q1868', ..., 'Q72774722', 'Q72785415', 'Q72800991'],
      dtype=object)